body {
    margin: 0px;
    font: xx-large Sans-serif;
    color: white;
    background-color: #B4D0DC;
}

canvas {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #333;
}

loading {
    display: none;
    text-align: center;
    position: fixed;
    top: 50%;
    font-size: xxx-large;
    color: white;
    width: 100%;
    font-family: monospace;
}

#Description {
    background-color: #127DB5;
    height: 100px;
    color: white;
    vertical-align: middle;
}

#Description img {
    height: 100px;
    vertical-align: middle;
}

#Version {
    position: fixed;
    right: 0px;
    top: 0px;
    font-size: medium;
    color: white;
}

.btn {
    background-color: #099C16;
    display: table-cell;
    border-radius: 5px;
    width: 300px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    left: 7px;
    top: 10px;
}

.btn-disabled {
    background-color: #777777;
    color: white;
    text-decoration: none;
    display: table-cell;
    border-radius: 5px;
    width: 300px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    left: 7px;
    top: 20px;
}

bottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #127DB5;
    width: 100%;
}

bottom a {
    color: white;
}

bottom div {
    display: inline-block
}

bottom .webgl {
    position: absolute;
    right: 0px;
}